
<div class="grid">
    <% current_user.days.each do |day|  %>
        <div class="item">
            <div class="content">
                <% if day.done %><% else %>  <% end %>
            </div>
        </div>
    <% end %>
</div>