
<div class="grid">
    <% current_user.days.each do |day|  %>
        <%= turbo_frame_tag dom_id(day) do %>
            <%= render partial: "partials/day", locals: {day: day} %>
        <% end %>
    <% end %>
</div>