/*
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input {
    /* outline: 2px solid rgb(0, 0, 0); */
    /* padding: .33em .6em;
    margin-bottom: 10px;
    border-bottom: 2px solid black; */
}
button, input[type='submit'] {
    background-color: #b3ffed;
    padding: .5em .8em;
    border-radius: 3px;
    transition: ease-out 70ms all;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    outline: none;
    border: none;
    min-width: 6ch;
    text-align: center;
    margin: 0 auto;
    display: block
}
button:hover,
input[type='submit']:hover {
    cursor: pointer;
    background-color: #9effe8;
}

/* .grid input[type='checkbox'] { 
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(17, 128, 255, 0.4); 
    margin: 0;  
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
input[type='checkbox']:checked{
        background-color: rgba(255, 255, 255, 0.2);
} */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 12vw);
    grid-template-rows: 12vw;
    grid-gap: 1vw;
    padding: 3vw;
}

.grid .item {
    background-color: rgba(255, 255, 255, 0.336);
    min-height: 12vw;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 100ms ease-out all; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
} 
.grid .item .content{
    /* position: relative; */
}
@media (min-width: 500px) {
    .grid {
        grid-template-columns: repeat(7, 10vw);
        grid-template-rows: 10vw;
        grid-gap: 1vw;
        padding: 3vw 12vw 3vw 12vw;
    }
    .grid .item {
        min-height: 10vw;
    }
}
@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(7, 7vw);
        grid-template-rows: 7vw;
        grid-gap: 1vw;
        padding: 3vw 22.5vw 3vw 22.5vw;
    }
    .grid .item {
        min-height: 7vw;
    }
}

.grid .item:hover {
    transition: 120ms ease all;
    transform-origin: bottom center;
    transform: scale(1.05);
    background-color: rgba(0, 255, 234, 0.287);
    cursor: pointer;
    /* opacity: .02; */
}
button {
font-family: 'Lato', sans-serif;
}
.btn {
    display: inline-block;
    padding: 0.45rem .9rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.487);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.398);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .3s;
    transition: all .23s;
    z-index: -1;
}

.btn:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

