.devise {
    padding: 0 10%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.devise form {
    background-color: rgba(255, 255, 255, 0.184);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}